{% extends "index.html" %}
{% block header %}
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase text-primary">
                    <strong>Mentions légales</strong>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-10">
            <h3>Responsable </h3>
        	<p>Colette et Rémy.</p>
        	<p>Tél. : 12-34-56-67-89</p>
        	<p>Mail : contact@purbeurre.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-10">
            <h3>Hébergeur </h3>
                <p>Le site purebeurre est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311). </br>Le stockage des données personnelles des utilisateurs est exclusivement réalisé sur les centres de données ("clusters") de la société Amazon Inc, dont le siège social est situé 10 Terry Avenue North, Seattle, WA.</br> Tous les clusters Amazon sur lesquels les données du Site sont stockées sont localisés dans des Etats membres de l'Union Européenne.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}{% endblock content %}