{% extends "index.html" %}
{% block header %}
<section class="page-section">
<div class="container">
<!-- test SearchProductsView ListView ou DetailView -->
{% if search_foods %}
    <div class="row">
    {% for food in search_foods %}
        <div class="col-lg-4 col-sm-6">
            <h6>{{ food.product_name_fr }}</h6>
            <div class="food_img" style="background-image: url({{ food.link_img }})"></div>
            <!-- Pourquoi pas category_s1 -->
            <a class="btn-submit-home btn btn-primary btn-xs" href="{% url 'purbeurre:search_substitute' food.id %}">Chercher un substitut <i class="fas fa-check"></i></a>
        </div>
        {% if forloop.last %}

        {% else %}
            <div class="col-lg-offset-3"></div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>No food hahaha ;) ! même joueur joue encore...</p>
{% endif %}
</div>
</section>
<!-- Fin insert block -->
{% endblock %}